body {
	background-color: #22B573
}
nav {
	float: left;
	margin-left: 230px;
	margin-top: 60px;
}
ul {
	font-size: 40px;
	display: inline-block;
	color: white;
}
li {
	display: inline-block;
	padding-left: 30px;
}
.fly {
	display: inline-block;
	width: 200px;
	float: right;
	margin: 50px;
}
header {
	display: inline-block;
}
.clear {
	clear: both;
}
.lia {
	color: white;
	text-decoration: none;
}
.indexsvg {
	width: 245px;
	display: inline-block;
	float: right;
}
.indexsvg2 {
	width: 245px;
	display: inline-block;
	float: left;
	text-align: top
}
.p1 {
	display: inline-block;
	float: left
	background-color:#FCEE21;
	width: 300px;
	font-family: 'Roboto Condensed', sans-serif;
}
.divbox {
	background-color: #FCEE21;
	width: 582px;
	height: 356px;
	font-size: 16px;
	float: left;
}
.divbox1 {
	background-color: #FCEE21;
	width: 582px;
	height: 356px;
	font-size: 16px;
	float: right;
}
.p2 {
	font-size: 16px;
	margin-top: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}
.divmainbox {
	margin: 25px 25px 500px 25px;
}